*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

html, body {
    display: flex;
    flex-direction: column;
  }

:root{
    --white: #fff;
    --black: #000;

    --blue-400: #0D4268;
    --blue-200: #152345;
}
main{
    flex: 1;
}

footer{
    margin-top: auto;
}

button{
    cursor: pointer;
    
}

a{
    color: inherit;
    text-rendering: none;
}

body{
    background-color: var(--white);
    min-height: 100vh;
}

@media(max-width: 720px){
    html{
        font-size: 87.5%; //14px
    }
}

@media(max-width: 1080px){
    html{
        font-size: 93.75%; //15px
    }
}