.containerCenter{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: 'wrap';
    justify-content: 'center'; 
}

.cardsContainer{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
   
}

.button{
    width: 10%;
    background-color: #fff;
    color: #4CAF50;
    border: 1.5px solid #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  
    &:hover {
      background-color: #45a049a1;
      color: #fff;
    }
}
.divButton{
    width: 66.8%;
    margin-top: 10px;
    display: flex;
    justify-content: end;
}